In [1]:
import pandas as pd

In [5]:
pd.DataFrame(
    {'Yes':[50,21], 'No':[131,2]}
)

   Yes   No
0   50  131
1   21    2

In [6]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64